       /*********************/
      /* Page de connexion */
     /*********************/



html, body {
    margin: 0;
    padding: 0;
    background-color: #FFFEE6;
    font-family: 'Roboto', sans-serif;
    color: #161920;
}


#logo{
    margin-top: -10%;
    height: 100%;
    width: 70%;
}

#loginPageTitle{
    margin-top: -18%;
    font-weight: bold;
    color: #EA001C;
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
}


#container{
    background: url("images/backgrounds/background.jpg") no-repeat;
    -webkit-background-size:cover;
    display: block;
    position : absolute;
    top : 0;
    width : 100%;
    height : 100%;
    text-align: center;
}


#login-form{
    position : absolute;
    text-align: center;
    width:100%;
    font-weight:bold;
}


.textConnexion {
    color: white;
    font-family: "Arial";
}


#Connection, #Google {
    background-color: #EA001C;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 20%;
    border: none;
    font-weight: bold;
}

.loginInputs{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #FFFEE6;
    box-sizing: border-box;
    background-color: #FFFEE6;
}


#Google:hover, #Connection:hover {
    background-color: #D00019;
}


@media screen and (max-width:868px){
    login-form{
        width:80%;
        text-align:center;
        justify-content: center; /* alignement vertical */
    }
}


         /*********************/
        /*  Page d'Accueil   */
       /*********************/


#header{
    display: flex;
    justify-content: flex-start;
}

#logo-header{
    width: 30%;
    margin: auto;
}

#searchbar {
    margin-top: 2%;
    background-color: #EBEAD4;
    width: 60%;
    height: 3%;
    border: 0em;
    padding: 12px 20px;
}


#searchbar:hover {
    width: 80%;
}

#search-logo{
    margin-left: -3%;
    margin-top: 2.35%;
    height: 2%;
    width: 2%;
    cursor: pointer;
}

#leftmenu{
    background-color: #EBEAD4;
    margin: 0 1em 0 1em;
    width: 15em;
}

#menurubrique{
    list-style: none;
    padding: 0;
}

#menurubrique a{
    display: block;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    color: #161920;
}

#page:hover, li:hover{
    color: #EA001C;
}

.menuLine {
    display: flex;
    flex-direction: row;
    padding: 0.5em 0 0.5em 0;
}

#iconMenuDisconnect {
    width: 1.5em;
    height: 1.5em;
    margin: auto;
}

.iconMenu {
    width: 1.5em;
    height: 1.5em;
    margin: auto;
}

#disconnect{
    display: flex;
    flex-direction: row;
    padding: 1em;
    margin: auto;
}

#title{
    cursor: default;
    font-weight: bold;
    padding: 1em;
}

#main{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    right: 1em;
}

#pageContent{
    margin: 2em;
    flex: 1;
}

.profile form{
    font-size: 36px;
}

.bigTitle h1{
    font-size: 64px;
    font-weight: normal;
    margin: 0em;
}

.profile label{
    font-size: 36px;
}

.profile input, #role-select{
    position: relative;
    background-color: #EBEAD4;
    border: none;
    font-size: 36px;
    margin: 0.2em;
    float: right;
    clear: both;
}

#role-select{
    border: none;
    color: #EA001C;
}

.profile input[type="submit"]{
    background-color: #EA001C;
    color: #FFFEE6;
    padding: 0.3em;
}

