/*********************/
/*      Utility      */
/*********************/

.bold{
    font-weight: bold;
}

/*********************/
/* Page de connexion */
/*********************/

html, body {
    margin: 0;
    padding: 0;
    background-color: #FFFEE6;
    font-family: 'Roboto', sans-serif;
    color: #161920;
}

input{
    color: #161920;
}

#logo{
    margin-top: -10%;
    height: 100%;
    width: 70%;
}

#loginPageTitle{
    margin-top: -18%;
    font-weight: bold;
    color: #EA001C;
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
}


#container{
    background: url("images/backgrounds/background.jpg") no-repeat;
    -webkit-background-size:cover;
    display: block;
    position : absolute;
    top : 0;
    width : 100%;
    height : 100%;
    text-align: center;
}


#login-form{
    position : absolute;
    text-align: center;
    width:100%;
    font-weight:bold;
}


.textConnexion {
    color: white;
    font-family: "Arial", sans-serif;
}


#Connection, #Google {
    background-color: #EA001C;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 20%;
    border: none;
    font-weight: bold;
}

.loginInputs{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #FFFEE6;
    box-sizing: border-box;
    background-color: #FFFEE6;
}


#Google:hover, #Connection:hover {
    background-color: #D00019;
}


@media screen and (max-width:868px){
    #login-form{
        width:80%;
        text-align:center;
        justify-content: center; /* alignement vertical */
    }
}


/*********************/
/*  Page d'Accueil   */
/*********************/


#header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logoTop{
    width: 30%;
}

#logo-header-home{
    width: 100%;
}
#logo-header{
    width: 30%;
}

#searchbar {
    background-color: #EBEAD4;
    width: 50%;
    height: 3%;
    display: flex;
    justify-content: space-around;
}

#searchInput{
    background-color: #EBEAD4;
    width: 100%;
    padding: 12px 20px;
    border: 0;
    font-size:2.25em;
    text-align: center;
}

#search-logo{
    padding: 1em 3em 1em 3em;
    width: 2em;
    cursor: pointer;
    background-color: #EBEAD4;
}

/*********************/
/*       Menu        */
/*********************/

#leftmenu{
    background-color: #EBEAD4;
    margin: 0 1em 0 1em;
    width: 17em;
    height: fit-content;
}

#menurubrique{
    list-style: none;
    padding: 0 1em 0 0;
}

#menurubrique a{
    display: block;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    color: #161920;
}

#page:hover, li:hover{
    color: #EA001C;
}

.menuLine {
    display: flex;
    flex-direction: row;
    padding: 0.5em 0 0.5em 0;
}

#iconMenuDisconnect {
    width: 1.5em;
    height: 1.5em;
    margin: auto;
}

.iconMenu {
    width: 1.5em;
    height: 1.5em;
    margin: auto;
}

.standaloneMenuLine{
    display: flex;
    flex-direction: row;
    padding: 1em;
    margin: auto;
}

/*********************/
/*  Pages de gestion */
/*********************/

#title{
    cursor: default;
    font-weight: bold;
    padding: 1em;
}

#main{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    right: 1em;
}

.pageContent{
    margin: 2em;
    flex: 1;
}

#pageContent-bottom{
    margin-left: 21em;

}

.profile form{
    font-size: 2.25em;
}

.bigTitle {
    font-size: 3.5em;
    font-weight: normal;
    margin: 0;
}

.profile label{
    font-size: 2.25em;
}

.profile input{
    background-color: #EBEAD4;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 2.25em;
    margin: 0.2em;
}
.lbrSelect {
    position: relative;
    right:0.7em;
    background: #EBEAD4;
    height: 2.513em;
    margin: 0.2em 0 0.2em 0;
    padding: 0.2em;
}

.role-select{
    border: none;
    font-size: 2.25em;
    color: #161920;
    background: url(images/icons/arrow-down-sign-to-navigate.png) no-repeat right;
    -webkit-appearance: none;
}

.role-choices{
    background-color: #FFFEE6;
}

.role-choices-1{
    background-color: #EBEAD4;
}


.profile input[type="submit"]{
    background-color: #EA001C;
    color: #FFFEE6;
    padding: 0.3em;
    float: right;
    cursor: pointer;
}


.formLine{
    display: table;
    width: 100%;
}

.formLine input, .formLine label {
    display: table-cell;
}
.formLine input,.formLine select{
    float:right;
    width: 100%;
}


.formLine label{
    width: 10em;
    vertical-align: middle;
}


/*********************/
/* Pages des fichiers*/
/*********************/

#uploadPopUp{
    position: absolute;
    z-index: 10;
    top:5%;
    right: 5%;
    width: 90%;
    height: 90%;
    background-color: #161920;
    text-align: center
}

#loading{
    position: fixed;
    z-index: 90;
    top:0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background-color: #FFFEE6;
    margin:auto;
    text-align:center;
}

#loadingImg{
    justify-content: center;
    margin:auto;
}

.closeButton{
    right: 0;
    position: absolute;
}

.closeButton h1{
    margin: 0;
    cursor: pointer;
    color: #EBEAD4;
    padding: 0.5em;
    font-size: 2.5em;
}

#uploadsTags{
    margin: 1em;
    width: 95%;
    height: 30%;
    display: flex;
    justify-content: flex-start;
    color: #EBEAD4;

}

#uploadsTags p{
    font-size: 1.5em;
    padding: 1em;
    margin: 0;
}

.uploadCategories{
    border-left: 1px solid #EA001C;
    max-width: 25%;
}

#lowPartUploads{
    height: 30%;
}

#uploadForm{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #161920;
}

#uploadsFiles{
    padding: 1em;
    margin: 1em;
    background-color: #EBEAD4;
    height: 100%;
    text-align: left;
}

#uploadButton{
    background-color: #EA001C;
    color: #FFFEE6;
    padding: 0.5em 5em 0.5em 5em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

#uploadTitle{
    margin: 0.4em;
    color: #EBEAD4;
    font-size: 4em;
}

.uploadsTagList{
    padding: 0 0.5em 0 0.5em ;
    text-align: left;
    height: 70%;
    overflow:auto;
}

/* The container */
.checkboxContainer, .redCheckboxContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.customCheckBox {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.2em;
    width: 1.2em;
    border: 1px solid #EBEAD4;
}

/* Create the checkmark/indicator (hidden when not checked) */
.customCheckBox:after {
    content: "";
    position: absolute;
    display: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.customCheckBox:before {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .customCheckBox:after {
    display: block;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .customCheckBox:before {
    display: block;
}

/* Style the checkmark/indicator */
.customCheckBox:after {
    top: -5.5px;
    left: 12.5px;
    width: 0;
    height: 1.7em;
    border: solid #EBEAD4;
    border-width: 0 1px 0 0;
    transform: rotate(45deg);
}

/* Style the checkmark/indicator */
.customCheckBox:before {
    top: -5.5px;
    left: 12.5px;
    width: 0;
    height: 1.7em;
    border: solid #EBEAD4;
    border-width: 0 1px 0 0;
    transform: rotate(-45deg);
}

/* Red checkBox */

/* Hide the browser's default checkbox */
.redCheckboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.redCheckbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.2em;
    width: 1.2em;
    border: 1px solid #EA001C;
}

/* Create the checkmark/indicator (hidden when not checked) */
.redCheckbox:after {
    content: "";
    position: absolute;
    display: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.redCheckbox:before {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.redCheckboxContainer input:checked ~ .redCheckbox:after {
    display: block;
}

/* Show the checkmark when checked */
.redCheckboxContainer input:checked ~ .redCheckbox:before {
    display: block;
}

/* Style the checkmark/indicator */
.redCheckboxContainer .redCheckbox:after {
    top: -8.5px;
    left: 21px;
    width: 0;
    height: 1.7em;
    border: solid #EA001C;
    border-width: 0 1px 0 0;
    transform: rotate(45deg);
}

/* Style the checkmark/indicator */
.redCheckbox:before {
    top: -8.5px;
    left: 21px;
    width: 0;
    height: 1.7em;
    border: solid #EA001C;
    border-width: 0 1px 0 0;
    transform: rotate(-45deg);
}

.newTag{
    font-size: 1.5em;
    width:fit-content;
    padding: 0;
}

.newTag input{
    background-color: #EBEAD4;
    width: 80%;
    border: 0;
    margin: 0;
    font-size: 1.5em;
}
.newTag label{
    cursor: pointer;
}

/*********************/
/*      Scrollbar    */
/*********************/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #EBEAD4;
}

.tableContainer::-webkit-scrollbar-track {
    background: #FFFEE6;
}

.uploadsTagList::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #EA001C;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #D00019;
}

#limit{
    width: 100%;
    border: 1px #EA001C solid;
    float: left;
    margin: 1em 0 1em 0;
}

.lbrTable{
    width: 100%;
    border-collapse: collapse;
}

.lbrTable tr{
    border: 0;
    width: 100%;
    margin: 0;
}

.lbrTable td{
    padding-left: 1em;
    font-size: 2.25em;
}

.lbrTable input{
    font-size: 0.7em ;
    width: auto;
}

.lbrTable tr:nth-child(2n) {
    background-color: #FFFEE6;
}

.lbrTable tr:nth-child(2n+1) {
    background-color: #EBEAD4;
}

.tableContainer{
    border: 1px solid #EA001C;
    width: 100%;
    height: 350px;
    overflow: auto;
}

.tagsContainer{
    position: relative;
    left : 10%;
}

.tagsContainer input[type="submit"]{
    font-size: 1.25em;
    display: table-cell;
}

.tagsLine{
    display: flex;
    align-items: center;
}

.tagsLine label{
    display: flex;
    align-items: center;
    width: 20%;
}

#uploadButtonOpen{
    padding: 0.5em;
    background-color: #EA001C;
    color : #EBEAD4;
    font-size: 2em;
    display: flex;
    margin: 1em 0 1em 0;
    width: fit-content;
}

#uploadButtonOpen img{
    width: 2em;
    height: 2em;
    margin: auto;
 }

#uploadButtonOpen p{
    padding: 0 1em 0 1em;
    margin: auto;
}

.mediumTitle{
    font-size: 2.25em;
    font-weight: normal;
    margin: 0;
}

#filesDisplayContainer{
    padding: 0.5em;
    display:flex;
    flex-wrap: wrap;
}

.fichierContainer{
    background-color: #000000;
    color: #EBEAD4;
    width: 16.688em;
    height: 16.438em;
    padding: 0;
    margin: 0.5em;
}

.fichierSubContainer{
    background-color: #EA001C;
    color: #EBEAD4;
    margin: 0;
    padding: 0;
}
.fichierSubContainer p{
    padding: 0.5em 0.3em 0.5em 0.3em;
    font-size:1.25em;
    white-space: nowrap;
    word-wrap: break-word;
}

.fichierContainer p{
    margin: 0;
    padding: 0.3em;
}

.migniatureFichier{
    width: 100%;
    margin: 0;
    padding: 0;
}

.checkboxFiles{
    margin : 0;
}

.checkboxFiles span{
    margin: 0.5em;
    border-color: #EA001C;
}

.checkboxFiles span:before{
    border-color: #EA001C;
}

.checkboxFiles span:after{
    border-color: #EA001C;
}

.filesNavigation{
    display: flex;
    justify-content: space-between;
    text-align: right;
}

.filesNavigation a{
    margin: auto 0.5em auto auto;
}

.filesNavigation div{
    margin: auto 0 auto 0;
}

.actionButtonsContainer{
    display: flex;
}

.actionButtonsContainer img{
    background-color: #EA001C;
    padding: 0.5em;
    margin-right: 1em;
    width: 1.5em;
    cursor: pointer;
}

.actionButtonsContainer{
    cursor: pointer;
}

#editFilesTags{
    margin: auto;
    padding: 0.5em;
    background-color: #EA001C;
    color: #EBEAD4;
}
